<% if channel.mode == 'html' %>
	<%= channel.html.html_safe %>
<% elsif channel.mode == 'twitter' %>
	<article id="idea"></article>
	<script type="text/javascript">
		$(document).ready(function() {
	 		$("#idea").liveTwitter(<%= channel.twitter.html_safe %>);
		});
	</script>
<% else %>
	<h2>RSS</h2>
	<strong>Rss is not implemented yet</strong>
<% end %>