/* reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








/* Styling for the digital sign */

/* global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    }
    
h1 {
    color: #2c2c2c;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.428571428571429em;
    }

h2 {
    font-weigth: bold; 
    }

p { 
    color: #4b4b4b;
    margin: 24px 0 0 0;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.625em;
    }

    
/* imagery */
    
#wrapper, #background, #smudge, #logos {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: absolute;
    }

#wrapper {
    position: relative;
    }

#background {
    z-index: 1;
    }

#smudge {
    z-index: 2;
    }
    
#logos {
    z-index: 4;
    }
    
#background img, #logos img, #smudge img {
    width: 100%;
    }

#smudge img {
    opacity: .4;
    }

#logos img {
    bottom: 0;
    position: absolute;
    }


/* articles */

#main, #work, #blue, #idea {
    float: left;
    width: 21.875%;
    margin: 3.125% 3.125% 3.125% 0;
    position: relative;
    z-index: 3;
    }

#main h1, #main h2, #main p {
    color: #fff;
    font-weight: bold;
    padding-left: 60px;
    }
    
#main h1 {
    opacity: 0.9;
    font-size: 3.75em;
    }
    
#main h2 {
    opacity: 0.7;
    font-size: 1.75em;
    margin: 56px 0 0 0;
    }

#main p {
    opacity: 0.9;
    font-size: 2.25em;
    line-height: .75em;
    }
    
    
/* sections */    

.blog, .message, .tweet {
    padding: 0 0 0 16.66666666666667%;   
}

.blog {
    margin-bottom: 90px;
    background: url(/images/text-icon.png) no-repeat 20px 6px;
    }
    
.message {
    margin-bottom: 60px;
    background: url(/images/pencil-icon.png) no-repeat 20px 6px;
    }
    
    .message p { 
        margin: 6px 0 0 0;
        }
  
.tweet {
    font-weight: bold;
    font-size: 0.875em;
    line-height: 1em;
    margin-bottom: 75px;
    background: url(/images/twitter-icon.png) no-repeat 18px 0px;
    }
    
    .tweet h1 {
        float: left;
        font-size: 1em;
        }
        
    .tweet span {
        display: block;
        float: right;
        color: #e6e6e6;
        font-size: 0.875em;
        font-weight: 300;
        }
        
    .tweet p {
        clear: both;
        }






/* Welcome List styling */
ul#welcome-list {
	height: 1em;
	overflow: hidden;
}
ul#welcome-list li{
	display: block;
	height: 1em;
}

/* clock styling below - from http://www.alessioatzeni.com/blog/css3-digital-clock-with-jquery/ */

.clock { }

ul { }

ul li { display:inline; text-align:center; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

/* Simple Animation */
@-webkit-keyframes mymove 
{
	0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
	50% {opacity:0; text-shadow:none; }
	100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
	0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
	50% {opacity:0; text-shadow:none; }
	100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}